<div class="notification_back">
  <h2>Country information</h2>
  <div class="card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          Name
        </ion-col>
        <ion-col size="6" class="title">
          Nepal
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Code
        </ion-col>
        <ion-col size="6" class="title">
          NPL
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          Country
        </ion-col>
        <ion-col size="6" class="title">
          Nepalese Rupee
        </ion-col>
      </ion-row>
      </ion-grid>
    <div class="section">
      <h6>Medical Education</h6>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio explicabo, sequi laudantium facilis est fuga, velit nisi, nulla pariatur aspernatur aut rem magnam culpa itaque reiciendis exercitationem maiores facere harum.</p>
    </div>
    <div class="section">
      <h6>About</h6>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores soluta alias fugiat distinctio blanditiis modi optio minus perspiciatis hic nisi, laboriosam delectus natus neque, sequi ad ipsum iusto dolorum eos.<br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur consequatur placeat soluta laboriosam, qui sapiente saepe illo voluptate quam vitae. Recusandae, fugit perferendis velit deleniti facere vel laboriosam aliquam doloribus.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente natus tenetur, animi voluptatem saepe amet porro maxime commodi quod reprehenderit ducimus vero officiis excepturi dignissimos molestiae, atque at velit deleniti!</p>
    </div>
    
    
  </div>
 
 
 