<div class="institute_list">
  <div class="title_back">
    <p>Please select 2 Institute from list to compare</p>
  </div>

  <div class="institute_list_back">
     <div class="portion">
       <div class="head d-flex align-center">
         <img src="assets/images/il1.png" alt="">
         Tomo Riba Institute of health & Medical Sciences, Naharlagun
       </div>
       <div class="list_details">
         <small>Description</small>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, odit exercitationem, animi porro, laudantium facere corrupti inventore repellendus distinctio beatae mollitia quisquam facilis minima. Aut quod eligendi distinctio facere quia.</p>
       </div>
       <div class="list_footer d-flex align-center justify-content-between">
        <div class="check_back">
          <input type="checkbox" name="" id="compare">
          <label for="compare">
            <span></span>
            Add to compare
          </label>
        </div>
        <a [routerLink]="['/institute-list-details']">View More</a>
       </div>
     </div>
  </div>

  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>
