<div class="institute_details_back">
   <div class="image_back">
     <img src="assets/images/b1.jpg" alt="">
   </div>
   <div class="head d-flex">
      <img src="assets/images/il1.png" alt="">
      <h2>
        Tomo Riba Institute of health & Medical Sciences, Naharlagun<br>
        <span>Pondicherry Universitys</span>
      </h2>
      <div class="widget d-flex align-items-center justify-content-between">
        <span class="fa fa-thumbs-up"></span>
        <span class="fa fa-heart"></span>
        <span class="no">3</span>
      </div>
  </div>
  <div class="list_details">
    <small>Description</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, odit exercitationem, animi porro, laudantium facere corrupti inventore repellendus distinctio beatae mollitia quisquam facilis minima. Aut quod eligendi distinctio facere quia.</p>
  </div>
  <div class="list_details">
    <small>News Articles</small>
    <p>N/A</p>
  </div>
</div>
<div class="institute_details_back second">
  <div class="list_details">
    <small>Contact Numbers</small>
    <p>1234567890</p>
  </div>
  <div class="list_details">
    <small>Email</small>
    <p>demo@akash.com</p>
  </div>
  <div class="list_details">
    <small>Reviews</small>
    <p>N/A</p>
  </div>
  <table>
    <tbody>
      <tr>
        <td>Year of inception</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Year of inception</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Year of inception</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Year of inception</td>
        <td>2015</td>
      </tr>
      <tr>
        <td>Year of inception</td>
        <td>2015</td>
      </tr>
    </tbody>
  </table>
  <div class="list_details">
    <small>Complate Address</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, laboriosam. Ipsa nemo dolorum soluta velit iusto? Explicabo, dolorem atque, repellendus sunt repellat eum nesciunt, molestiae unde eos molestias sed animi!</p>
  </div>
  <div class="list_details">
    <small>How to reach</small>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, laboriosam. Ipsa nemo dolorum soluta velit iusto? Explicabo, dolorem atque, repellendus sunt repellat eum nesciunt, molestiae unde eos molestias sed animi!</p>
  </div>
</div>
<div class="buttons_back">
  <ion-row>
    <ion-col size="12">
      <ion-button color="custom" fill="clear" [routerLink]="['/photo-gallery']">
        Photo Gallery
      </ion-button>
  </ion-col>
    <ion-col size="6">
      <ion-button color="custom" fill="clear" [routerLink]="['/courses']">
        Courses
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="custom" fill="clear" [routerLink]="['/']">
        Download Brochure
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="interested_back d-flex flex-column justify-content-center align-center">
      <h4>Interested to get admission?</h4>
      <ion-button color="custom" fill="clear" [routerLink]="['/institute-confirmation']">
        Click Here
      </ion-button>
  </div>
</div>
