<div class="site_form_baCK">
  <div class="head">
    <img src="assets/images/site_logo.png" alt="">
    <h2>signup</h2>
    <h3>Step 1/2</h3>
  </div>
  <div class="form_baCK">
    <form>
      <div class="port">
        <p>Mobile</p>
        <input type="text" name="" id="">
      </div>
      <div class="port">
        <p>Mobile OTP</p>
        <div class="otp">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
          <input type="text" name="" id="">
        </div>
        
      </div>
      
      <ion-button color="custom" fill="clear"[routerLink]="['/home']">
        Submit
      </ion-button>
    </form>
  </div>
  <div class="foot">
    <h5 [routerLink]="['/signin']">Exiting user?</h5>
  </div>
</div>