<div *ngFor="let bank of allBanks">
  <div class="card">
    <div class="area">
      <img src="assets/images/{{ bank.bank_name }}.png" alt="">
      <h2>{{ bank.bank_name}}</h2>
    </div>
    <div class="button">
      <ion-button color="custom" fill="clear" (click)="popOpen(bank.bank_name)" xx>
        Details
      </ion-button>
    </div>

  </div>

  <div class="popup" *ngIf="pop">
    <div class="back">
      <ion-icon name="close-outline" (click)="popClose()"></ion-icon>
      <div class="area">
        <img src="assets/images/{{bankname}}.png" alt="">
        <h2 >{{bankname}}</h2>
      </div>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste veniam, quia excepturi quas, optio voluptas
        eligendi accusantium</p>
      <div class="del">
        <span>Description</span>
        <a href="">CLICK HERE TO VIEW</a>
      </div>
    </div>

  </div>

</div>


<!-- <div class="card">
  <div class="area">
    <img src="assets/images/b2.png" alt="">
    <h2>Bank of Baroda</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>

<div class="card">
  <div class="area">
    <img src="assets/images/b3.png" alt="">
    <h2>Bank of India</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>

<div class="card">
  <div class="area">
    <img src="assets/images/b4.png" alt="">
    <h2>ICICI Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b5.png" alt="">
    <h2>IDBI Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b6.png" alt="">
    <h2>Kotak Mahindra Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b7.png" alt="">
    <h2>Punjab National Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b8.png" alt="">
    <h2>State Bank of India</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b9.png" alt="">
    <h2>Union Bank of India</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b10.png" alt="">
    <h2>Yes Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div> -->