<div class="card">
  <div class="area">
    <img src="assets/images/b1.png" alt="">
    <h2>Axis Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
  
</div>

<div class="card">
  <div class="area">
    <img src="assets/images/b2.png" alt="">
    <h2>Bank of Baroda</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>

<div class="card">
  <div class="area">
    <img src="assets/images/b3.png" alt="">
    <h2>Bank of India</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>

<div class="card">
  <div class="area">
    <img src="assets/images/b4.png" alt="">
    <h2>ICICI Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b5.png" alt="">
    <h2>IDBI Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b6.png" alt="">
    <h2>Kotak Mahindra Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b7.png" alt="">
    <h2>Punjab National Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b8.png" alt="">
    <h2>State Bank of India</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b9.png" alt="">
    <h2>Union Bank of India</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>
<div class="card">
  <div class="area">
    <img src="assets/images/b10.png" alt="">
    <h2>Yes Bank</h2>
  </div>
  <div class="button">
    <ion-button color="custom" fill="clear">
      Details
    </ion-button>
  </div>
</div>