<div class="my_institutions_form_back">
  <div class="title_back">
    <h2>Find Your Institutions</h2>
    <ion-grid>
      <ion-row class="d-flex align-center">
        <ion-col size="4">
          <p>Management</p> 
        </ion-col>
        <ion-col size="8">
          <div class="radio_back d-flex">
            <div class="port d-flex align-center">
              <input type="radio" name="radio" id="govt">
              <label for="govt">
                <span></span>
                Govt.
              </label>
            </div>
            <div class="port d-flex align-center">
              <input type="radio" name="radio" id="pvt">
              <label for="pvt">
                <span></span>
                PVT.                
              </label>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="d-flex align-center">
        <ion-col size="4">
          <p>State</p> 
        </ion-col>
        <ion-col size="8">
          <ion-select placeholder="">
            <ion-select value="Andaman & Nicobar Island" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="Andaman & Nicobar Island">Andaman & Nicobar Island</ion-select-option>
              <ion-select-option value="Assam">Assam</ion-select-option>
              <ion-select-option value="Arunachal Pradesh">Arunachal Pradesh</ion-select-option>
              <ion-select-option value="Bihar">Bihar</ion-select-option>
            </ion-select>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="details d-flex align-center flex-column">
    <p>For Expert Counselling</p>
    <ion-button color="custom" fill="clear" [routerLink]="['/expert-counselling']">
      Click Here
    </ion-button>
  </div>
</div>