<div class="site_form_baCK">
  <div class="head">
    <img src="assets/images/site_logo.png" alt="">
    <h2>signup</h2>
    <h3>Step 1/2</h3>
  </div>
  <div class="form_baCK">
    <form>
      <div class="port">
        <p>First Name</p>
        <input type="text" name="" id="">
      </div>
      <div class="port">
        <p>Last Name</p>
        <input type="text" name="" id="">
      </div>
      <div class="port">
        <p>Mobile</p>
        <input type="text" name="" id="">
      </div>
      <div class="port">
        <p>Create Password</p>
        <input type="password" name="" id="">
      </div>
      <div class="port">
        <p>Confirm Password</p>
        <input type="password" name="" id="">
      </div>
      <div class="port">
        <p>Referral Code (if any)</p>
        <input type="text" name="" id="">
      </div>
      <ion-button color="custom" fill="clear"[routerLink]="['/signup-second-step']">
        Next
      </ion-button>
    </form>
  </div>
  <div class="foot">
    <h5 [routerLink]="['/signin']">Exiting user?</h5>
    <h3 [routerLink]="['/before-login-aboutus']">about us</h3>
  </div>
</div>