/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html{
    font-size: 62.5%;
}

body{
    background-color: #f6f9fe;
}
ion-content{
    --ion-background-color:#f6f9fe;
}

.d-flex{
    display: flex;
}

ul{
    margin: 0; padding: 0; 
    li{
        list-style: none; margin: 0; padding: 0;
    }
}

.wrapper{
    width: 100%; padding: 1.4rem;
}
.alert-wrapper.sc-ion-alert-md{
    max-width: 80%; width: 100%;
}
ion-select{
    width: 100%;  font-size: 1.5rem; border: #e6e6e6 1px solid; border-radius: 10px; color: #000;
}
ion-datetime{
    width: 100%;  font-size: 1.5rem; border: #e6e6e6 1px solid; border-radius: 10px; color: #000;
}

.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}

.details{
    width: 100%; padding-top: 3rem;
    p{
        color: #e85b23; font-size: 1.6rem; margin: 0 0 1rem 0; padding: 0;
    }
}
.ion-color-custom{
    width: 14rem; height: 4rem; background-color: #0c4d9d; border-radius: 12px; color: #fff; text-transform: capitalize; margin-top: 1.4rem; 
    box-shadow: rgba(0,0,0,.2) 1px 0 10px;
    
}

ion-header{
    box-shadow: rgba(0,0,0,.2) 1px 0 5px;
    ion-title{
        font-size: 1.6rem;
        text-align: center;
        padding: 0;
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        left: 0; font-weight: 600;
    }
    ion-back-button{
        color: #0c4d9d; font-size: 1.6rem;
    }
    &.header-md::after{
        background-image: none;
    }
    .top{
        height: 8.4rem; background-color: #fafafa; padding: 0 1rem; position: relative;
        .avator_section{
            font-size: 1.3rem; font-weight: 500;
            img{
                height: 4.9rem; margin-right: 2rem;
            }
        
        }
        .right_icon_details{
            .search{
                margin-right: 2.3rem;
            }            
            img{
                height: 1.6rem; cursor: pointer;
            }
        }
    }
    .home_tab_back{
        width: 100%; background-color: #fafafa; padding: 1rem;
        li{
            margin-right: 3rem; font-size: 1.4rem; text-transform: capitalize; color: #434343;
            &:last-child{
                margin-right: 0;
            }
            img{
                height: 2rem; width: auto; object-fit: contain; margin-bottom: .8rem; 
            }
        }
    }
    
}

.swiper-pagination{ 
    position: absolute; left: 0; bottom: 1rem !important; margin: auto; 
    span{ 
        width: 1.4rem; height: 1.4rem; background-color: #aaaaaa; border: none; opacity: 1; margin: 0 1.3rem 0 0 !important; 
        &:last-child{margin: 0;}
        &.swiper-pagination-bullet-active{background-color: #e85c23; }
    }
    
}